$retina-sprite: true;
@import "spriting";

$social-icons: 'skype', 'gplus';
@each $item in $social-icons {
  @include sprites($class: '.social-#{$item}', $name: $item) {
    display: block;
    background-color: #f7f7f7;
    margin: 10px;
  }
}

.test-pseudo {
  position: relative;
  padding: {
    left: 40px;
  }
  @include sprites($class: '&', $name: 'skype', $center-y: true) {
    display: block;
    left: 0;
  }
}

@include sprites($class: '.test-hover', $name: 'imgclock', $pseudo: false, $hover: true);

.test-pseudo-hover {
  position: relative;
  padding: {
    left: 50px;
  }
  @include sprites($class: '&', $name: 'imgclock', $center-y: true, $hover: true) {
    display: block;
    left: 0;
  }
}

@include sprites($class: '.other-test', $name: 'gplus', $pseudo: false, $center: true);

@include sprites($class: '.other-test-x', $name: 'gplus', $pseudo: false, $center-x: true) {
  top: 0;
}

@include sprites($class: '.other-test-y', $name: 'gplus', $pseudo: false, $center-y: true) {
  left: 35px;
}

@include sprites($class: '.test-class', $name: 'skype', $center: true);
@include sprites($class: '.test-hover', $name: 'imgclock', $pseudo: false, $hover: true);

$i: 15;
@for $i from 1 through $i {
  @include sprites($class: '.cycle-#{$i}', $name: '#{$i}', $pseudo: false, $comma-separated: false);
}
