//TODO add ability to switch on/off comma-separated classes. somethink like "$comma-separated: true/false !default";
$icons-map: 'icons' !default;
$retina-global: false !default;
$comma-separated: false !default;

@function size-retina($m-retina) {
  @return ((ceil(image-width(sprite-path($m-retina)) / 2) auto));
}

@function position($m, $d-name: false, $h-name: false, $a-name: false) {
  @if $d-name {
    @return (sprite-position($m, $d-name));
  }
  @if $h-name {
    @return (sprite-position($m, $h-name));
  }
  @if $a-name {
    @return (sprite-position($m, $a-name));
  }
}

@function position-retina($m, $d-name: false, $h-name: false, $a-name: false) {
  @if $d-name {
    @return (
    round(nth(sprite-position($m, $d-name), 1) / 2)
    round(nth(sprite-position($m, $d-name), 2) / 2)
    );
  }
  @if $h-name {
    @return (
    round(nth(sprite-position($m, $h-name), 1) / 2)
    round(nth(sprite-position($m, $h-name), 2) / 2)
    );
  }
  @if $a-name {
    @return (
    round(nth(sprite-position($m, $a-name), 1) / 2)
    round(nth(sprite-position($m, $a-name), 2) / 2)
    );
  }
}

@mixin _center($center, $half, $image-height, $image-width, $center-y, $center-x) {
  @if $center {
    position: absolute;
    top: $half;
    left: $half;
    margin-top: -($image-height / 2);
    margin-left: -($image-width / 2);
  } @else if $center-y {
    position: absolute;
    top: $half;
    margin-top: -($image-height / 2);
  } @else if $center-x {
    position: absolute;
    left: $half;
    margin-left: -($image-width / 2);
  }
}

@mixin sprites($class, $name, $hover: false, $active: false, $pseudo: true, $size: true, $center: false, $center-y: false, $center-x: false) {
  $m: sprite-map("#{$icons-map}/*.png", $layout: smart);
  $half: 50%;
  $h-name: $name + -hover;
  $a-name: $name + -active;
  $image-width: image-width(sprite-file($m, $name));
  $image-height: image-height(sprite-file($m, $name));

  @if $pseudo {
    #{$class} {
      &:after {
        content: "";
        @include _center($center, $half, $image-height, $image-width, $center-y, $center-x);

        @if $size {
          width: $image-width;
          height: $image-height;
          overflow: hidden;
        }

        @if $comma-separated {
          background-position: position($m, $name);
        } @else {
          background: $m no-repeat position($m, $name);
        }

        @content;
      }

      @if $hover {
        &:hover {
          &:after {
            background-position: position($m, $h-name);
          }
        }
      }

      @if $active {
        &:active {
          &:after {
            background-position: position($m, $a-name);
          }
        }
      }
    }
  } @else {
    #{$class} {
      @include _center($center, $half, $image-height, $image-width, $center-y, $center-x);

      @if $size {
        width: $image-width;
        height: $image-height;
        overflow: hidden;
      }

      @if $comma-separated {
        background-position: position($m, $name);
      } @else {
        background: $m no-repeat position($m, $name);
      }

      @content;

      @if $hover {
        &:hover {
          background-position: position($m, $h-name);
        }
      }

      @if $active {
        &:active {
          background-position: position($m, $a-name);
        }
      }
    }
  }
  @if $retina-global {
    $m-retina: sprite-map("#{$icons-map}@x2/*.png", $layout: smart);

    @media only screen and (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2.0) {
      @if $pseudo {
        #{$class} {
          &:after {
            @if $comma-separated {
              background-position: position-retina($m-retina, $name);
            } @else {
              background: $m-retina no-repeat position-retina($m-retina, $name);
            }
            background-size: size-retina($m-retina);

            @if $hover {
              &:hover {
                &:after {
                  background-position: position-retina($m-retina, $h-name);
                }
              }
            }

            @if $active {
              &:active {
                &:after {
                  background-position: position-retina($m-retina, $a-name);
                }
              }
            }
          }
        }
      } @else {
        #{$class} {
          @if $comma-separated {
            background-position: position-retina($m-retina, $name);
          } @else {
            background: $m-retina no-repeat position-retina($m-retina, $name);
          }
          background-size: size-retina($m-retina);

          @if $hover {
            &:hover {
              background-position: position-retina($m-retina, $h-name);
            }
          }

          @if $active {
            &:active {
              background-position: position-retina($m-retina, $a-name);
            }
          }
        }
      }
    }
  }
}

@debug "retina sprite map enabled: => #{$retina-global}";
@debug "icons map folder: => #{$icons-map}";
@debug "comma separated enabled: => #{$comma-separated}";