@import "spriting";

body {
  width: 100%;
  height: 100%;
}

$social-icons: facebook, rss, skype, yahoo, gplus;
@each $item in $social-icons {
  @include sprites($class: '.social-#{$item}', $name: $item) {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: #f7f7f7;
    margin: 10px;
  }
}
