@import "spriting";

$social-icons: facebook, rss, skype, yahoo, gplus;
@each $item in $social-icons {
  @include sprites($class: '.social-#{$item}', $name: $item) {
    display: block;
    background-color: #f7f7f7;
    margin: 10px;
  }
}

.test {
  position: relative;
  padding-left: 60px;
  @include sprites($class: '&', $name: imgclock, $center-y: true, $hover: true) {
    display: block;
    left: 0;
  }
}

.other-test {
  @include sprites($class: '&', $name: gplus, $center: true)
}

