.social-facebook, .social-rss, .social-skype, .social-yahoo, .social-gplus, .test:after {
  background: url('images/icons-s97758c514d.png') no-repeat;
}

@media only screen and (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
  .social-facebook, .social-rss, .social-skype, .social-yahoo, .social-gplus {
    background: url('images/icons@x2-s100a20fc2c.png') no-repeat;
  }
}

body {
  width: 100%;
  height: 100%;
}

.social-facebook {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #f7f7f7;
  margin: 10px;
  overflow: hidden;
  background-position: 0 -104px;
  width: 32px;
  height: 32px;
}
@media only screen and (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
  .social-facebook {
    background-position: 0 -104px;
    background-size: 32px auto;
  }
}

.social-rss {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #f7f7f7;
  margin: 10px;
  overflow: hidden;
  background-position: 0 0;
  width: 16px;
  height: 16px;
}
@media only screen and (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
  .social-rss {
    background-position: 0 0;
    background-size: 32px auto;
  }
}

.social-skype {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #f7f7f7;
  margin: 10px;
  overflow: hidden;
  background-position: 0 -72px;
  width: 32px;
  height: 32px;
}
@media only screen and (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
  .social-skype {
    background-position: 0 -72px;
    background-size: 32px auto;
  }
}

.social-yahoo {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #f7f7f7;
  margin: 10px;
  overflow: hidden;
  background-position: 0 -16px;
  width: 24px;
  height: 24px;
}
@media only screen and (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
  .social-yahoo {
    background-position: 0 -16px;
    background-size: 32px auto;
  }
}

.social-gplus {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #f7f7f7;
  margin: 10px;
  overflow: hidden;
  background-position: 0 -40px;
  width: 32px;
  height: 32px;
}
@media only screen and (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
  .social-gplus {
    background-position: 0 -40px;
    background-size: 32px auto;
  }
}

.test:after {
  content: "";
  overflow: hidden;
  background-position: 0 -40px;
  width: 32px;
  height: 32px;
}

.class-name {
  line-height: 1em;
  background-color: white;
  transition: background-color 150ms;
  border: 1px solid white;
  margin: 0;
  padding: 0 15px;
  cursor: pointer;
  color: white;
  border-radius: 2px;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  border-radius: 4px;
}
.class-name:hover {
  background-color: white;
  color: white;
}
.class-name:active {
  background-color: #fafafa;
}
.class-name:focus {
  outline: 0;
  box-shadow: none;
}
