.test:after {
  background: url('images/icons-s13742319f8.png') no-repeat;
}

@media only screen and (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
  .test:after {
    background: url('images/icons@x2-s5c206a083d.png') no-repeat;
  }
}

.test {
  display: inline-block;
  position: relative;
}
.test:after {
  content: "";
  background-position: -136px 0;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.test:hover:after {
  background-position: -40px 0;
}

@media only screen and (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
  .test {
    display: inline-block;
    position: relative;
  }
  .test:after {
    background-position: -136px 0;
    background-size: 256px auto;
  }
  .test:hover:after {
    background-position: -40px 0;
  }
}
