.sprite-icons, .social-facebook, .social-rss, .social-skype, .social-yahoo, .social-gplus {
  background: url('images/icons-s97758c514d.png') no-repeat;
}
@media only screen and (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
  .sprite-icons, .social-facebook, .social-rss, .social-skype, .social-yahoo, .social-gplus {
    background: url('images/icons@x2-s100a20fc2c.png') no-repeat;
  }
}

body {
  width: 100%;
  height: 100%;
}

.social-facebook {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #f7f7f7;
  margin: 10px;
  content: "";
  overflow: hidden;
  background-position: 0 -104px;
  width: 32px;
  height: 32px;
}
@media only screen and (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
  .social-facebook {
    background-position: 0 -104px;
    background-size: 32px auto;
  }
}

.social-rss {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #f7f7f7;
  margin: 10px;
  content: "";
  overflow: hidden;
  background-position: 0 0;
  width: 16px;
  height: 16px;
}
@media only screen and (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
  .social-rss {
    background-position: 0 0;
    background-size: 32px auto;
  }
}

.social-skype {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #f7f7f7;
  margin: 10px;
  content: "";
  overflow: hidden;
  background-position: 0 -72px;
  width: 32px;
  height: 32px;
}
@media only screen and (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
  .social-skype {
    background-position: 0 -72px;
    background-size: 32px auto;
  }
}

.social-yahoo {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #f7f7f7;
  margin: 10px;
  content: "";
  overflow: hidden;
  background-position: 0 -16px;
  width: 24px;
  height: 24px;
}
@media only screen and (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
  .social-yahoo {
    background-position: 0 -16px;
    background-size: 32px auto;
  }
}

.social-gplus {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #f7f7f7;
  margin: 10px;
  content: "";
  overflow: hidden;
  background-position: 0 -40px;
  width: 32px;
  height: 32px;
}
@media only screen and (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2) {
  .social-gplus {
    background-position: 0 -40px;
    background-size: 32px auto;
  }
}
